.container
  .row
    .span12
      .content-block
        .bd
          %h2
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Manage Lookup Tables
          %h4= link_to "Manage BNY", bny_lookups_path
          %h4= link_to "Manage JP Morgan", jpm_lookups_path
          %h4= link_to "Manage State Street", ssc_lookups_path          
          %h4= link_to "Manage AGFiQ", agf_lookups_path          
          %h4= link_to "Manage Asset Class Mappings", asset_class_lookups_path          
