%h1 Corporate Actions
- if exceptions.empty?
  %h3 No Actions
- else
  .center
    == #{pluralize(exceptions.count, 'Action')} of #{number_with_delimiter(total)}
  %table.table.zebra-striped
    %caption Instrument Exceptions
    %thead
      %tr
        - unless src_id
          %th Source
        %th Instrument ID
        %th Date Range
        %th Standard Name
        %th Composite Ticker
        %th Candidate Name
        %th Figi
        %th Sedol
        %th Isin 
        %th Cusip
        %th Variants
        %th
        %th
          Expiration /
          %br Effective Date
        %th
    %tbody
      - exceptions.each do |exception|
        - instrument = exception.instrument
        - composite = instrument.pooled_instrument
        - datasource = exception.datasource
        %tr
          - unless src_id
            %td= datasource.data_source_name
          %td{:style => 'width:150px'}
            = exception.etfg_date.try(:strftime, ApplicationHelper::DATE_FORMAT)
            %br
            %br
            = link_to instrument.id, instruments_path(:id_set => instrument.id), :target => '_blank', :title => exception.id
          %td
            - if instrument.effective_date.nil?
              *
            - else
              = instrument.effective_date.try(:strftime, ApplicationHelper::DATE_FORMAT)
            \-
            - if instrument.expiration_date.nil?
              *
            - else
              = instrument.expiration_date.try(:strftime, ApplicationHelper::DATE_FORMAT)            
          %td
            = radio_button_tag "exception_#{exception.id}", 'Standard', false, :style => 'display:inline', :title => 'Expire candidate name; standard name Effective'
            New
            %br
            = raw instrument.standard_name
          %td
            = exception.composite_ticker
            - unless composite.nil?
              == /#{composite.exchange_country}
          %td
            = radio_button_tag "exception_#{exception.id}", 'Candidate', true, :style => 'display:inline-block', :title => 'Expire standard name; candidate name Effective'
            New
            %br
            = text_area_tag "candidate_name_#{exception.id}", exception.candidate_name, :style => 'width:100px;height:100px'
          %td
            - unless instrument.figi.blank?
              = link_to instrument.figi, instruments_path(:figi => instrument.figi), :target => '_blank'
              - if instrument.is_exchange_figi
                &nbsp;(Exchange)
          %td
            - unless instrument.sedol.blank?
              = link_to instrument.sedol, instruments_path(:sedol => instrument.sedol), :target => '_blank'
          %td
            - unless instrument.isin.blank?
              = link_to instrument.isin, instruments_path(:isin => instrument.isin), :target => '_blank'
          %td
            - unless instrument.cusip.blank?
              = link_to instrument.cusip, instruments_path(:cusip => instrument.cusip), :target => '_blank'
          %td{:style => 'width:370px'}
            = text_area_tag :tat, instrument.name_variants.split('^').join(","), :style => 'width:100px;height:100px', :disabled => true
          %td{:title => 'Expire this instrument; link to second instance after date'}= link_to 'Split', '#', :onclick => "split_instrument(#{exception.id},#{src_id || 0})"
          %td= text_field_tag "exp_date_#{exception.id}", nil, :class => "jquery-ui-date", :style => 'width:100px'
          %td{:title => 'Clear exception resolution'}= link_to 'Delete', reset_instrument_exception_path(exception, :src_id => src_id, :corporate => true), :method => :put
