%h1 Instrument Exceptions
- if exceptions.empty?
  %h3 No Exceptions
- else
  .center
    == #{pluralize(exceptions.count, 'Exception')} of #{number_with_delimiter(total)}
  %table.table.zebra-striped
    %caption Instrument Exceptions
    %thead
      %tr
        - unless src_id
          %th Source
        %th Instrument ID
        %th Standard Name
        %th Ticker
        %th Unknown Name
        %th Figi
        %th Sedol
        %th Isin 
        %th Cusip
        %th Variants
        %th
    %tbody
      - exceptions.each do |exception|
        - instrument = exception.instrument
        - next if instrument.nil?
        
        - composite = instrument.pooled_instrument
        %tr
          - unless src_id
            %td= exception.datasource.data_source_name
          %td{:style => 'width:150px'}
            = exception.etfg_date.try(:strftime, ApplicationHelper::DATE_FORMAT)
            %br
            %br
            = link_to instrument.instrument_id, instruments_path(:id_set => Instrument.where(:instrument_id => instrument.instrument_id).map(&:id).join(",")), :target => '_blank', :title => exception.id
          %td= text_area_tag "standard_name_#{exception.id}", instrument.standard_name, :escape => false, :style => 'width:150px;height:150px'
          %td
            = exception.composite_ticker
            - unless composite.nil?
              == /#{composite.exchange_country}
            - unless instrument.ticker.blank?
              %br= instrument.ticker
          %td
            %strong= exception.candidate_name
          %td
            - unless instrument.figi.blank?
              = link_to instrument.figi, instruments_path(:figi => instrument.figi), :target => '_blank'
              - if instrument.is_exchange_figi
                &nbsp;(Exchange)
          %td
            - unless instrument.sedol.blank?
              = link_to instrument.sedol, instruments_path(:sedol => instrument.sedol), :target => '_blank'
          %td
            - unless instrument.isin.blank?
              = link_to instrument.isin, instruments_path(:isin => instrument.isin), :target => '_blank'
          %td
            - unless instrument.cusip.blank?
              = link_to instrument.cusip, instruments_path(:cusip => instrument.cusip), :target => '_blank'
          %td{:style => 'width:370px'}
            = text_area_tag :tat, instrument.name_variants.split('^').join(","), :style => 'height:150px', :disabled => true
          %td{:style => 'width:450px'}
            = radio_button_tag "disposition_#{exception.id}", InstrumentException::ACCEPT
            Accept
            %br
            = radio_button_tag "disposition_#{exception.id}", InstrumentException::ACCEPT_AS_STANDARD
            Accept&Set Name
            %br
            = radio_button_tag "disposition_#{exception.id}", InstrumentException::SKIP
            Skip
            %br
            = radio_button_tag "disposition_#{exception.id}", InstrumentException::IGNORE
            Ignore (Delete)
            %br
            = radio_button_tag "disposition_#{exception.id}", InstrumentException::EXCEPTION
            Known Exception
            %br
            = radio_button_tag "disposition_#{exception.id}", InstrumentException::CORP_ACTION
            Corporate Action
