%h1 Instrument Exceptions
- if exceptions.empty?
  %h3 No Exceptions
- else
  .center
    == #{pluralize(exceptions.count, 'Exception')} of #{number_with_delimiter(total)}
  %table.table.zebra-striped
    %caption Instrument Exceptions
    %thead
      %tr
        %th Instrument ID
        %th Standard Name
        %th Composite Ticker
        %th Unknown Name
        %th Figi
        %th Sedol
        %th Isin 
        %th Cusip
        %th Variants
        %th
    %tbody
      - exceptions.each do |exception|
        - instrument = exception.instrument
        - composite = instrument.pooled_instrument
        %tr
          %td{:style => 'width:150px'}
            - if exception.start_date == exception.end_date
              = exception.start_date.try(:strftime, ApplicationHelper::DATE_FORMAT)
            - else
              = exception.start_date .try(:strftime, ApplicationHelper::DATE_FORMAT)
              \-
              %br= exception.end_date.try(:strftime, ApplicationHelper::DATE_FORMAT)
            %br
            %br
            = instrument.id
          %td= raw instrument.standard_name
          %td
            = exception.composite_ticker
            - unless composite.nil?
              == /#{composite.exchange_country}
          %td
            %strong= exception.candidate_name
          %td
            = instrument.figi
            - if instrument.is_exchange_figi
              &nbsp;(Exchange)
          %td= instrument.sedol
          %td= instrument.isin
          %td= instrument.cusip
          %td{:style => 'width:370px'}
            = text_area_tag :tat, instrument.name_variants.split('^').join(","), :style => 'height:150px'
          %td{:style => 'width:450px'}
            = radio_button_tag "disposition_#{exception.id}", InstrumentException::ACCEPT
            Accept
            %br
            = radio_button_tag "disposition_#{exception.id}", InstrumentException::SKIP
            Skip
            %br
            = radio_button_tag "disposition_#{exception.id}", InstrumentException::IGNORE
            Ignore (Delete)
            %br
            = radio_button_tag "disposition_#{exception.id}", InstrumentException::EXCEPTION
            Add Known Exception
            %br
            = radio_button_tag "disposition_#{exception.id}", InstrumentException::CORP_ACTION
            Corporate Action
