.container
  .span12
    .content-block
      .bd
        %br
        %br
        %div{:style => 'width:40%'}
          Filters
          %table.table
            %tr
              %td
                = label_tag :data_source
                = select_tag :data_source, options_from_collection_for_select(@datasources, :id, :data_source_name, @selected_source), {:style => 'display:inline-block', :prompt => 'Select a Datasource', :onchange => "window.location = '/instrument_exceptions?skipped=#{@skipped}&ticker=&src_id=' + $('#data_source').val() + '&ticker=' + $('#ticker').val() + '&corporate_actions=#{@corp_actions}'"}
              %td
                = label_tag :ticker
                = text_field_tag :ticker, @ticker, :onchange => "window.location = '/instrument_exceptions?skipped=#{@skipped}&ticker=&src_id=' + $('#data_source').val() + '&ticker=' + $('#ticker').val() + '&corporate_actions=#{@corp_actions}'"
          - unless @corp_actions
            = check_box_tag :skipped, 'true', @skipped, :onclick => "window.location='#{instrument_exceptions_url(:skipped => !@skipped,:src_id => @selected_source)}'"
            Show skipped
        - if @corp_actions
          = render :partial => 'corporate_actions', :locals => {:exceptions => @exceptions, :total => @total, :skipped => false, :src_id => @selected_source}
        - else
          = form_tag bulk_update_instrument_exceptions_path do
            = hidden_field_tag 'skipped', @skipped
            = hidden_field_tag 'source_id', @selected_source
            = render :partial => 'instrument_variants', :locals => {:exceptions => @exceptions, :total => @total, :skipped => @skipped, :src_id => @selected_source}
            .actions
              = submit_tag 'Process Variants', :class => 'button btn btn-large btn-primary'
              %br
              %br
