%h1 Composite Exceptions
- if exceptions.empty?
  %h3 No Exceptions
- else
  .center
    == #{pluralize(exceptions.count, 'Exception')} of #{number_with_delimiter(total)}
  %table.table.zebra-striped
    %caption Composite Exceptions
    %thead
      %tr
        %th Composite ID
        %th Standard Name
        %th Unknown Name
        %th Variants
        %th
    %tbody
      - exceptions.each do |exception|
        - composite = exception.pooled_instrument
        %tr
          %td{:style => 'width:150px'}
            - if date_map.has_key?(exception.id) 
              - if date_map[exception.id][0] == date_map[exception.id][1]
                = exception.file_date.try(:strftime, ApplicationHelper::DATE_FORMAT)
              - else
                = date_map[exception.id][0].try(:strftime, ApplicationHelper::DATE_FORMAT)
                \-
                %br= date_map[exception.id][1].try(:strftime, ApplicationHelper::DATE_FORMAT)
            - else
              = exception.file_date.try(:strftime, ApplicationHelper::DATE_FORMAT)
            %br
            = link_to composite.pooled_instrument_id, pooled_instrument_path(composite)
            == /#{composite.composite_ticker}/#{composite.exchange_country}
            - unless composite.figi.nil?
              %br= composite.figi
            - unless composite.sedol.nil?
              %br= composite.sedol
            - unless composite.isin.nil?
              %br= composite.isin
            - unless composite.cusip.nil?
              %br= composite.cusip
          %td= composite.standard_composite_name
          -#
            = text_area_tag "standard_name_#{composite.id}", composite.standard_composite_name, {:size => '20x8', :onchange => "update_composite_name(#{composite.id})"}
          %td
            %strong= exception.name_in_datasource
          %td{:style => 'width:370px'}
            = text_area_tag :tat, composite.composite_name_variants.split('^').join(","), :style => 'height:150px'
          %td{:style => 'width:450px'}
            = radio_button_tag "disposition_#{exception.id}", 'Accept'
            Accept
            %br
            = radio_button_tag "disposition_#{exception.id}", 'Skip'
            Skip
            %br
            = radio_button_tag "disposition_#{exception.id}", 'Ignore'
            Ignore (Delete)
