.container
  .span12
    .content-block
      .bd
        %br
        %br
        %h1 Instruments
        - if 0 == @instruments.count
          %h3 No Instruments
        - else
          - if @paginated
            .center
              = will_paginate @instruments
              = page_entries_info
          %table.table.zebra-striped
            %thead
              %tr
                %th ID
                %th Source
                %th Ticker
                %th Name
                %th Effective
                %th Expiration
                %th Figi
                %th Sedol
                %th Isin 
                %th Cusip
                %th Country
                %th Currency
                %th Exchange
                %th Approved
                %th Default
            %tbody
              - @instruments.each do |i|
                %tr
                  %td{:title => i.id}= i.instrument_id
                  %td
                    - unless i.datasource.nil?
                      = i.datasource.data_source_name
                  %td= i.ticker
                  %td= i.standard_name
                  %td
                    - unless i.effective_date.nil?
                      = i.effective_date.try(:strftime, ApplicationHelper::DATE_FORMAT) 
                  %td
                    - unless i.expiration_date.nil?
                      = i.expiration_date.try(:strftime, ApplicationHelper::DATE_FORMAT) 
                  %td= i.figi
                  %td= i.sedol
                  %td= i.isin
                  %td= i.cusip
                  %td= i.exchange_country
                  %td= i.currency
                  %td= i.exchange
                  %td= check_box_tag "approve_#{i.id}", '1', i.approved, :onchange => "update_approved_instrument(#{i.id})"
                  %td= check_box_tag "default_#{i.id}", '1', i.default_instrument, :onchange => "update_default_instrument(#{i.id})"

